<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Pokedex - Types</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

</head>
<body>

<h1>Liste des Pokemon de type [[${type.nom}]]:</h1><br/>

<table th:object="${pokemonList}" id="pokemonTable" border="1">
    <tr>
        <td>NOM</td>
        <td>NUMERO</td>
        <td>IMAGE</td>
    </tr>
    <tr th:each="pokemon :${pokemonList}">
        <td  th:text="${pokemon.getNom()}"></td>
        <td  th:text="${pokemon.getNumero()}"></td>
        <td  th:url="${pokemon.getImage()}"></td>
    </tr>
</table>






</body>
</html>