<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Pokedex - Types</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

</head>
<body>

<h3>Liste des types:</h3><br/>

<table th:object="${typeList}" id="typeTable" border="1">
    <tr th:each="type :${typeList}">
        <td  th:text="${type.getNom()}"></td>
        <td  th:text="${type.getCaractéristique()}"></td>
        <td>Consulter la liste des pokemon de ce type: <a href="/pokedex/pokemon/type/${type.getId()}">lien</a></td>
    </tr>
</table>

</body>
</html>